<h1>Employee</h1>
<button class="btn btn-lg btn-primary btn-block"  type="submit"  {{action "onClick"}} >Button</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
 {{#each model.empList as |emp index|}}
    <tr>
      <th scope="row">{{index}}</th>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.email}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
